/* Read The Docs changes */
.wy-menu-vertical a:visited {
	color: #b3b3b3;
}

a.icon.icon-home {
	color: #ffffff;
}

.wy-nav-content {
	max-width: 1100px;
}

a:visited {
	color: #2980B9;
	text-decoration: none;
}

/* Custom Classes */
h1.class-title {
	margin-bottom: 0.1em;
	line-height: 0.5;
}

.file-link {
	font-size: 70%;
	line-height: 2;
}